.header-container{
    color: #E5DFD9;
}

.title-header{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 320px) {
    .title{
        font-size: 8px;
        text-align: start;
        margin-top: 18px;
      }
      .products-headings{
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-self: center;
        flex-wrap: wrap;
        cursor: pointer;
        font-size: 14px;
        margin: 8px;
        grid-template-columns: repeat(2, 1fr);
    }
    .product-heading{
        font-size: 10px;
    }
      
}
  
@media (min-width:374px) and (max-width: 767px) {
    .title{
        font-size: 12px;
        text-align: start;
        margin-top: 23px;
      }
      .products-headings{
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-self: center;
        cursor: pointer;
        margin: 10px 20px;
        font-size: 12px;
        grid-template-columns: repeat(4, 1fr);
    }
    .product-heading{
        font-size: 12px;
    }
}
  
.title{
    padding-left: 50px;
    padding-top: 5px;
    font-weight: 300;
}

.title-span{
    margin-left: 15px;
}

.icons{
    display: flex;
    justify-content: space-around;
    margin: 25px;
    align-self: space-around;
    font-weight: 100;
}

.icon{
    margin-right: 30px;
    font-weight: 100;
}

.products-headings{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    cursor: pointer;
    margin: 10px 20px;
    font-size: 18px;
}

